<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>移动积分商城管理平台</title>
<link href="__PUBLIC__/home/css/login.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/media2014.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/home/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/respond.src-min.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/enter.js" type="text/javascript"></script>
</head>
<body class="jfLoginBg"> 
<div class="jfLogin">
    <div class="cloudAll"><div class="cloud fidex"><img src="__PUBLIC__/home/images/signIn/jfLoginCloud.png"></div></div>
    <div class="topPicture">
        <div class="topPictureCenter">
            <img class="bg" src="__PUBLIC__/home/images/signIn/jfLoginBg.jpg">
        </div>
    </div>
    <div class="jfLogos">
        <div class="jfLogo fidex clearfix">
            <img class="fl" src="__PUBLIC__/home/images/signIn/jfLoginLogo.png">
            <p class="fl">高校兼职招聘系统</p>
        </div>
    </div>
    <div class="jfLoginInfos">
        <div class="jfLoginInfo fidex">
            <div class="jfLoginT"></div>
            <div class="jfLoginC">
                <div class="jfLoginMain">
                    <div class="jfLoginCon clearfix">
                        <cite class="name"></cite>
                        <input type="text" placeholder="请输入用户名" />
                    </div>
                    <div class="jfSpace"><span class="usererror" style="display:none;">账户不存在，请重新输入！</span></div>
                    <div class="jfLoginCon clearfix">
                        <cite class="key"></cite>
                        <input type="text" placeholder="请输入密码" />
                    </div>
                    <div class="jfSpace"><span style="display:none;" class="pwderror">密码错误，请重新输入！</span></div>
                    <div class="code">
                        <input type="text"placeholder="请输入验证码" />
                        <p><a href="javascript:;" class="before"><img id="yzm" src="__PUBLIC__/home/images/signIn/yzm_01.png" alt="" /></a>
                    </div>
                    <div class="jfSpace"><span style="display:none;">验证码错误，请重新输入！</span></div>
                    <a class="jfLoginEnter" href="javascript:;">登录</a>
                    <div class="rememberPW"><input type="checkbox" /><i>记住密码</i></div>
                </div>
            </div>
            <div class="jfLoginB"></div>
        </div>
    </div>
</div>
</body>
</html>













